In [1]:
import os
import pandas as pd
import numpy as np

In [49]:
leaguesNamesFolder = [folder for folder in os.listdir() if os.path.isdir(folder)]
leaguesWithOutFolder = ["Youth-Basketball-Champions-League_2023","Zadar-Tournament-(ANGT)_2023"]
noList =[".DS_Store","ORIG_HEAD","config","objects",
"HEAD",
"info",
"logs",
"description",
"hooks",
"refs",
"index",
"packed-refs",
"COMMIT_EDITMSG",
"FETCH_HEAD","Collect_Data-checkpoint.ipynb","Untitled-checkpoint.ipynb",".ipynb_checkpoints",".git"]
dfList =[]
leaguesNamesFolder.remove(".ipynb_checkpoints")
leaguesNamesFolder.remove(".git")
leaguesNamesFolder.remove("Champions_Tables")

##Creating Dataframe with shortcuts and meanings
shortList=["GP","MPG","PPG","FGM","FGA","FG%","3PM","3PA","3P%","FTM","FTA","FT%","ORB","DRB","RPG","APG","SPG","BPG","TOV","PF"]
meaningList = ["Games Played", "Minutes Per Game", "Points Per Game", "Field Goals Attempted", "Field Goals Attempted", "Field Goal Percentage", "3-Point Field Goals Made", "3-Point Field Goals Attempted", "3-Point Field Goal Percentage", "Free Throws Made", "Free Throws Attempted", "Free Throw Percentage", "Offensive Rebounds", "Defensive Rebounds", "Rebounds Per Game", "Assists Per Game", "Steals Per Game", "Blocks Per Game", "Turnovers", "Personal Fouls"]
meaningDf = pd.DataFrame(shortList,meaningList)

##Taking out all Tables and put it in one DataFrame
##Moving thorugh all Folder
for folder in leaguesNamesFolder:
    currPath = os.getcwd()+ os.sep + folder
    allTables = os.listdir(currPath)
    for table in allTables:
        if(table not in noList):
            currdf = pd.read_csv(currPath + os.sep + table)
            dfList.append(currdf)
##Running over all the csvs files in any folder           
for leauge in leaguesWithOutFolder:
    tablePath = os.getcwd()+ os.sep + leauge + ".csv"
    currdf = pd.read_csv(tablePath)
    dfList.append(currdf)

alldf = pd.concat(dfList,axis=0)
alldf = alldf.reset_index(drop=True)
alldf.drop(["Unnamed: 24"],axis =1,inplace=True)
alldf.describe(include="all")

,#,Team,GP,MPG,PPG,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,ORB,DRB,RPG,APG,SPG,BPG,TOV,PF,Year,League_Name,is_Champion
count,14802.000000,14802,14802.000000,14632.000000,14802.000000,14802.000000,14802.000000,14802.000000,14394.000000,14394.000000,14394.000000,14802.000000,14802.000000,14802.000000,14513.000000,14513.000000,14513.000000,14802.000000,14513.000000,14513.000000,14513.000000,14802.000000,14802.000000,14802,12398.000000
unique,NaN,1665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96,NaN
top,NaN,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NBA,NaN
freq,NaN,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1632,NaN
mean,9.481016,NaN,33.003310,41.256117,82.163849,29.934414,66.314106,0.451642,7.779881,22.930499,0.337509,14.729989,20.346669,0.722819,9.618411,24.350376,33.965948,16.932232,7.412127,2.662523,14.065093,20.596386,2014.569247,NaN,0.068882
std,7.190147,NaN,20.825934,2.727657,10.746402,4.545344,9.084687,0.032446,1.989668,5.046345,0.039264,3.277193,4.145227,0.051577,2.143316,3.468602,4.676602,3.768074,1.595103,1.172026,2.262891,2.488699,10.872042,NaN,0.253264
min,1.000000,NaN,1.000000,32.700000,35.000000,13.500000,44.000000,0.232000,0.100000,0.900000,0.056000,0.000000,2.000000,0.000000,0.000000,9.000000,13.000000,4.000000,1.000000,0.000000,1.000000,4.000000,1947.000000,NaN,0.000000
25%,4.000000,NaN,20.000000,40.000000,75.700000,27.200000,60.825000,0.435000,6.700000,20.500000,0.317000,12.700000,17.700000,0.695000,8.300000,22.100000,30.900000,14.300000,6.400000,1.900000,12.600000,19.000000,2013.000000,NaN,0.000000
50%,8.000000,NaN,31.000000,40.200000,79.900000,28.900000,63.600000,0.454000,7.800000,23.200000,0.340000,14.300000,19.800000,0.727000,9.400000,23.700000,33.000000,16.600000,7.200000,2.400000,13.800000,20.500000,2017.000000,NaN,0.000000
75%,13.000000,NaN,39.000000,40.500000,85.500000,31.100000,67.800000,0.472000,9.000000,25.800000,0.361000,16.200000,22.300000,0.755000,10.700000,25.800000,35.900000,19.100000,8.200000,3.200000,15.200000,22.100000,2021.000000,NaN,0.000000
max,56.000000,NaN,82.000000,55.000000,126.500000,49.900000,119.600000,0.650000,18.000000,45.400000,0.609000,33.000000,45.000000,1.000000,21.500000,42.200000,55.000000,34.700000,19.000000,12.700000,39.500000,36.000000,2023.000000,NaN,1.000000

In [53]:
## Need To take Out Venzuelian,ProA,BLitz all those leagues dont have champion label so they are useless
firstClean = ["Venezuelan-SLB","German-Pro-A","NBL-Blitz","Basketball-Champions-League-","Intercontinental-Cup","VTB-SuperCup","VTB-United-League"]
for i in firstClean:
    mask = alldf["League_Name"] != i
    alldf = alldf[mask]


## We are in 2023 and not all leagues Were done so if it doenst we Clean it beacuse we dont know who is the champion
mask = (alldf["Year"] != 2023) & (alldf["is_Champion"].notna())
alldf = alldf[mask]

alldf.describe(include="all")

,#,Team,GP,MPG,PPG,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,ORB,DRB,RPG,APG,SPG,BPG,TOV,PF,Year,League_Name,is_Champion
count,11965.000000,11965,11965.000000,11795.000000,11965.000000,11965.000000,11965.000000,11965.000000,11557.000000,11557.000000,11557.000000,11965.000000,11965.000000,11965.000000,11676.000000,11676.000000,11676.000000,11965.000000,11676.000000,11676.000000,11676.00000,11965.000000,11965.000000,11965,11965.000000
unique,NaN,1512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84,NaN
top,NaN,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NBA,NaN
freq,NaN,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1602,NaN
mean,9.501463,NaN,35.323778,41.442543,82.564739,30.150305,66.706695,0.452241,7.624332,22.436445,0.337708,14.901780,20.555579,0.723715,9.701465,24.392146,34.090819,16.861939,7.439012,2.702004,14.08156,20.725065,2013.107564,NaN,0.068700
std,7.266557,NaN,21.375697,2.912034,11.198805,4.774877,9.690151,0.031710,2.007743,5.147719,0.038490,3.386228,4.289921,0.049274,2.147236,3.550596,4.816160,3.908202,1.588987,1.206209,2.22859,2.511659,11.535456,NaN,0.252955
min,1.000000,NaN,1.000000,32.700000,35.000000,13.500000,47.000000,0.245000,0.100000,0.900000,0.056000,1.000000,2.000000,0.250000,0.000000,9.000000,13.000000,4.000000,1.000000,0.000000,1.00000,8.000000,1947.000000,NaN,0.000000
25%,4.000000,NaN,23.000000,40.000000,75.700000,27.200000,60.700000,0.436000,6.600000,20.200000,0.318000,12.700000,17.800000,0.696000,8.400000,22.100000,30.900000,14.100000,6.400000,1.900000,12.70000,19.100000,2012.000000,NaN,0.000000
50%,8.000000,NaN,33.000000,40.200000,79.800000,28.900000,63.500000,0.454000,7.700000,22.800000,0.340000,14.400000,19.900000,0.727000,9.400000,23.700000,33.000000,16.500000,7.300000,2.400000,13.80000,20.600000,2016.000000,NaN,0.000000
75%,13.000000,NaN,41.000000,40.600000,85.900000,31.400000,68.300000,0.472000,8.800000,25.300000,0.360000,16.400000,22.500000,0.755000,10.800000,25.900000,36.100000,19.100000,8.300000,3.200000,15.20000,22.200000,2019.000000,NaN,0.000000
max,56.000000,NaN,82.000000,55.000000,126.500000,49.900000,119.600000,0.650000,17.000000,45.400000,0.609000,31.900000,42.400000,1.000000,21.500000,42.200000,55.000000,31.400000,18.000000,9.000000,39.50000,36.000000,2022.000000,NaN,1.000000